*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: blue;
    text-align: center;
}

.intro{
    font-size: 18px;
    color: green;
}

#special{
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
}

h2 h3{
    color: darkred;
    text-decoration: underline;
}

p span{
    color: purple;
    font-weight: bold;
}

ui > li{
   font-style: italic;
   color: brown;
}

h1 + p{
    color: orange;
    font-size: 20px;
}

a.link{
    color: red;
    text-decoration: none;
}

a.link:hover{
    color: blue;
    text-decoration: underline;
}

a.link:active{
    color:orange;
}

a.link:visited{
    color: darkgreen;
}

ul li:first-child{
    color: darkblue;
}

ul li:last-child{
    color:palevioletred;
}

ul li:nth-child(2){
    color: darkorange;
    font-weight: bold;
}

p::first-letter{
    color: red;
    font-size: 30px;
    font-weight: bold;
}

p::first-line {
    color: navy;
}

h2::before {
    content: "★ ";
    color: gold;
}

h2::after {
    content: " ★";
    color: gold;
}